@font-face 
{
    font-family: "Sonic-1-HUD-Font";
    src: url("./../fonts/Sonic-1-HUD-Font.ttf");
}

*
{
	margin: 0;
	padding: 0;
	image-rendering: pixelated;
}

body
{
	font-family: "Sonic-1-HUD-Font";

	padding: 55px;
}

div
{
	overflow: hidden;
	border: 1px red solid;
}

div
{
	background-position: center;
	background-size: contain;
}

.ground
{
	background-repeat: repeat-x;
	background-size: auto 100%;
}

.object
{
	background-size: contain;
}

#menu p:nth-child(1)
{
	font-size: 56px;

	position: absolute;
	top: 0;

	width: 100%;
	padding-top: 55px;

	text-align: center;

	color: red;
}

#menu p:nth-child(2)
{
	font-size: 56px;

	position: absolute;
	bottom: 0;

	width: 100%;
	padding-bottom: 125px;

	cursor: pointer;
	text-align: center;

	color: pink;
}

.hud
{
	padding: 25px 45px;
}

.hud p
{
	height: 50px;
	font-size: 52px;
    color: #e8e400;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px black;
}

.hud p span
{
	color: white;
}